body {
    height: 300px;
    background-image: url("https://starbase8.de/WebRoot/Store7/Shops/0b84ec6e-028b-42be-ad2a-9f5e0f4b2193/610E/66B6/25D1/0BB5/E4FD/0A48/353D/41E4/SKYNET_STICKER_DB3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    color: white;
  }
